.carousel-control-next, .carousel-control-prev {
  width: 2%;
}

.carousel-control-next {
  right: 2.1rem;

  @include respond(big-desktop) { 
    right: 38.1rem;
  }

  @include respond(desktop) {  
    right: 2.1rem; 
  }
}

.carousel-control-prev {
  left: 2.1rem;

  @include respond(big-desktop) { 
    left: 38.1rem;
  }

  @include respond(desktop) { 
    left: 2.1rem; 
  }
}

.carousel-indicators li {
  opacity: 0;
  visibility: hidden;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  height: 3.3rem;
  width: 3.3rem;
}
