/** page **/
.cssloader {
  padding-top: calc(45vh - 30.5rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/** loader **/
.sh1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6rem 6rem 0 0;
  border-color: $dark-blue-color transparent transparent transparent;
  margin: 0 auto;
  animation: shk1 1s ease-in-out infinite normal;
}

.sh2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6rem 6rem;
  border-color: transparent  transparent $red-color transparent ;
  margin: -6rem auto 0;
  animation: shk2 1s ease-in-out infinite alternate;
}

/** animation starts here **/
@keyframes shk1 {
  0% {
    transform: rotate(-360deg);
  }  
  
  100% {
  }
}

@keyframes shk2 {
  0% {
    transform: rotate(360deg);
  }
  100% { 
  }
}

.lt {
  color: $blue-color;
  font-size: 2.5rem;
  margin: 3rem auto;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.1rem;
}
