.navbar {
  background-color: $nav-bg-color;
  padding: 0;

  @include respond(tab-land2) { 
    display: none;
  }

  &__items {
    float: right;
    width: 100%;
  }

  &__search-container {
    float: right;
    padding-bottom: 0.8rem;

    &--button {
      background: $dark-blue-color;
      border: 0.05rem solid $dark-blue-color;
      border-bottom-right-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
      color: $white-color;
      cursor: pointer;
      float: right;
      font-size: $default-font;
      margin: 0.8rem 3rem 0 0;
      padding: 0.4rem 1rem;

      @include respond(big-desktop) { 
        font-size: $default-big-font;
      }

      @include respond(desktop) { 
        font-size: $default-font; 
      }

      &:hover {
        background: $blue-color;
      }
    }

    &--input {
      padding: 0.9rem;
      margin-top: 0.8rem;
      font-size: $default-font;
      border: none;
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;

      @include respond(big-desktop) { 
        font-size: $default-big-font;
      }

      @include respond(desktop) { 
        font-size: $default-font; 
      }
    }
  }

  &__item {
    border-bottom: $normal-line;
    display: block;
    float: right;
    font-size: $default-font;
    font-weight: 600;
    color: $black-color;
    text-align: center;
    text-decoration: none;
    padding: $nav-padding;

    @include respond(big-desktop) { 
      font-size: $default-big-font;
    }

    @include respond(desktop) { 
      font-size: $default-font; 
    }

    &:hover,
    &:focus,
    &:active,
    &::after {
      color: $blue-color;
      text-decoration: none;
      border-bottom: $hover-line;
      cursor: pointer;
    }
  }

  &__img {
    height: 4.5rem;

    @include respond(tab-land2) { 
      display: block;
      float: right;
    }
  }
}

.navbar__img {
  height: 4.5rem;
}

input[type="text"] {
  border: none;
  font-size: $default-font;
  margin-top: 0.8rem;
  outline: 0;
  padding: 0.4rem;

  @include respond(big-desktop) { 
    font-size: $default-big-font;
  }

  @include respond(desktop) { 
    font-size: $default-font; 
    }
}

.dropdown {
  float: right;
  &-nav-link {
    color: $black-color;
    background-color: transparent;
    border: none;
    border-bottom: $normal-line;
    font-size: $default-font;
    font-weight: 600;
    //float: right;
    text-decoration: none;
    outline: none;
    padding: $nav-padding;

    @include respond(big-desktop) { 
      font-size: $default-big-font;
    }

    @include respond(desktop) { 
      font-size: $default-font; 
    }

    &:hover,
    &::selection,
    &:focus {
      color: $blue-color;
      border-bottom: $hover-line;
    }
  }

  &-menu {
    background-color: $nav-bg-color;
  }

  &-item {
    background-color: $nav-bg-color;
    //display: none;
    font-size: $default-font;
    //position: absolute;
    min-width: 16rem;
    //box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: left;
    padding: $nav-padding;
    border-bottom: $normal-line;

    @include respond(big-desktop) { 
      font-size: $default-big-font;
    }

    @include respond(desktop) { 
    font-size: $default-font; 
    }

    &:hover {
      color: $blue-color;
      border-bottom: $normal-line;
    }
  }
}

a {
  text-decoration: none !important;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  color: #6295bf;
  outline: 0;
}


.show {
  display: block;
}
