.top-text {
  position: relative;
}

#myBtn {
  background-color: $white-color;
  border: none;
  color: $red-color;
  cursor: pointer;
  display: none;
  margin-bottom: 2rem;
  outline: none;
  padding: 0;
  position: absolute;
  right: 46%;
  text-align: center;  

  @include respond(l-phone) {
    font-size: 2.2rem;
  }
}

#myBtn:hover {
  color: $blue-color;
}