*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1rem is
  /* calc = 10/16px which is 0.625
  then converted to percentage
  calc = 0.625 x 100 which is 62.5% */
  font-size: 62.5%;

  @include respond(big-desktop) { // width > 1800?
    font-size: 75%; //1 rem = 20px,  12/16 = 75%
  }

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; //1 rem = 9px,  9/16 = 56.25%
  }

  @include respond(tab-port2) { // width < 992?
    font-size: 50%; //1 rem = 8px,  8/16 = 50%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 40%; //1 rem = 8px,  8/16 = 50%
  }

  @include respond(tab) { // width < 715?
    font-size: 36%; //1 rem = 8px,  8/16 = 50%
  }

  @include respond(l-phone) { 
    font-size: 40%; 
  }

  @include respond(phone2) { 
    font-size: 32%; 
  }

  @include respond(sx-phone) { 
    font-size: 28%; 
  }

}

body {
  box-sizing: border-box;
}