body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
} 

.primary-heading {
  animation: moveInLeft 2s ease-out;
  display: block;
  font-size: 8.4rem;
  font-weight: 900;
  letter-spacing: .1rem;

  @include respond(big-desktop) { 
    font-size: 10.4rem;
  }

  @include respond(desktop) { 
    font-size: 8.4rem;  
  }

  @include respond(desktop-m) { 
    font-size: 7.4rem;  
  }
  
  @include respond(l-phone) { 
    font-size: 6.4rem;  
  }

  @include respond(phone) { 
    font-size: 6.1rem;  
  }
  
  @include respond(m-phone-m) { 
    font-size: 6.7rem;  
  }

  @include respond(m-phone2) { 
    font-size: 5rem;  
  }

  @include respond(m-phone4) { 
    font-size: 4.5rem;  
  }

  @include respond(s-phone3) { 
    font-size: 4rem;  
  }

  &--news {
    font-size: 4.1rem;
    font-weight: bold;
   
    @include respond(m-phone2) { 
      font-size: 3.1rem;  
    }

    @include respond(sx-phone) { 
      font-size: 2.1rem;  
    }
  }

  &--news__sub {
    font-size: 1.8rem;
    color: rgba($black-color, .5);
    
  }
}



.primary-heading--sub {
  display: block;
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  animation: moveInRight 2s ease-out;

  @include respond(big-desktop) { 
    font-size: 5.2rem;
  }

  @include respond(desktop) { 
    font-size: 3.6rem;  
  }

  @include respond(l-phone) { 
    font-size: 3.2rem;  
  }

  @include respond(phone) { 
    font-size: 3rem
  }

  @include respond(s-phone3) { 
    font-size: 2.5rem;  
  }

  &__special {
    @include respond(phone2) { 
      font-size: 4.3rem;  
    }

    @include respond(m-phone-m) { 
      font-size: 3.5rem;  
    }

    @include respond(m-phone2) { 
      font-size: 3rem;  
    }

    @include respond(m-phone4) { 
      font-size: 2.5rem;  
    }

    @include respond(s-phone3) { 
      font-size: 2rem;  
    }

    @include respond(sx-phone) { 
      font-size: 2.5rem;  
    }
  }
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;

  &__news {
    font-size: 1.8rem;
  }

  &-medium {
    font-weight: 500;
  }

  &-bold {
    font-weight: 600;
  }
}

.news-title {
  font-size: 2.6rem;
  font-weight: 500;
  text-decoration: underline;
}

.about-title {
  font-size: 3.2rem;
  font-weight: bold;
}

.pagination-font {
  font-size: 1.4rem;
  font-weight: 600;

  @include respond(tab-port) {
    font-size: 2.2rem;
  }
}

.footer-title {
  color: rgba($black-color, .5);
  font-size: 1.8rem;

  @include respond(l-phone) { 
    font-size: 2.8rem;
  }
}

.footer-sub {
  color: rgba($black-color, .4);
  font-size: 1.6rem;

  @include respond(l-phone) { 
    font-size: 2.6rem;
  }
}

.footer-link {
  font-size: 1.6rem;
  font-weight: bold;

  @include respond(l-phone) { 
    font-size: 2.6rem;
  }
}

.publisher-name {
  font-size: 2rem;
  font-weight: 500;
}

.paragraph-date {
  color: rgba($black-color, .5);
  font-size: 1.4rem;
  font-weight: 400;
}

