.u-text-center { text-align: center; }

.u-margin-link { margin-top: 1.6rem; }

.u-margin-connect { margin-bottom: 0.2rem;}

.u-margin-paragraph-huge { margin-top: 4rem; }

.u-margin-paragraph-big { margin-top: 2rem; }

.u-margin-paragraph-big-comment { 
  margin-top: 2rem;

  @include respond(m-phone2) { 
    margin-top: 0rem;
  }
}

.u-margin-paragraph-small { margin-bottom: .5rem; }

.u-display-block { display: block; }

