@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 400px: Small Phone
400px - 500px: Small Phone
500px -600px: Phone
600px - 900px: Tablet portrait mode
900px - 1200px: Tablet landscape
[1200px - 1800px] is where our normal stlyes apply
1800+: Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == sx-phone {
    @media (max-width: 20em) { @content }; // 320px in em 
  }
  @if $breakpoint == s-phone {
    @media (max-width: 25em) { @content }; // 400px in em 
  }
  @if $breakpoint == m-phone {
    @media (max-width: 31.25em) { @content }; // 500px in em
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; // 600px in em
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }; // 900px in em
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content }; // 1200px in em
  }
  @if $breakpoint == desktop {
    @media (min-width: 75em) { @content }; // 1200px in em
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content }; // 1800px in em
  }
}

// CARDS

@mixin card {
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  padding: 2rem;
  width: 100%;
}
