// COLORS
$dark-blue-color: #38556e;
$blue-color: #6295BF;
$red-color: #FF0000;
$grey-color: #818181;
$black-color: #000;
$white-color: #fff;
$nav-bg-color: rgba(196, 196, 196, 0.5);

//  GRID
$grid-width: 144rem;
$gutter-vertical: 0;
$gutter-horizontal: 3rem;

// FONTS
$default-font: 1.4rem;
$default-big-font: 2.4rem;

//PADDING
$nav-padding: 1.2rem .8rem;

// Border Bottom Line
$hover-line: 0.4rem solid $blue-color;
$normal-line: 0.4rem solid transparent;
// CARD 
$card-m-top: 4rem;

// LINE
$line: 1px solid rgba($black-color, 0.25);