.row {
  max-width: $grid-width;
  margin: 0 6.7rem;

  @include respond(big-desktop) { 
    margin: 0 44.7rem;  
  }

  @include respond(big-desktop2) { 
    margin: 0 38.7rem;
  }


  @include respond(desktop) { 
    margin: 0 6.7rem;  
  }
  
  @include respond(desktop) { 
    margin: 0 6.7rem;  
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    //background-color: seagreen;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(l-phone) { 
        margin-right: 2rem;
      }
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

    @include respond(l-phone) { 
      width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
  }

  .col-1-of-4-n {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

    @include respond(l-phone) { 
      width: calc((76% - 2 * #{$gutter-horizontal}) / 3);
    }
    
  }

  .col-1-of-4-d {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

    @include respond(l-phone) { 
      display: none;
    }
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal} 
    );
  }
}

.row-i {
  max-width: $grid-width;
  margin: 0 6.7rem;

  @include respond(big-desktop) { 
    margin: 0 44.7rem;  
  }

  @include respond(desktop) { 
    margin: 0 6.7rem;  
  }

  @include respond(l-phone) { 
    margin: 0 1.7rem 0 6.7rem;  
  }

  @include respond(m-phone2) { 
    margin: 0 1rem 0 5.7rem;  
  }

  @include respond(m-phone4) { 
    margin: 0 1rem 0 4.7rem;  
  }

  @include respond(s-phone3) { 
    margin: 0 2rem 0 4.7rem;  
  }


  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    //background-color: seagreen;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(l-phone) { 
        margin-right: 2rem;
      }
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }


  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

    @include respond(l-phone) { 
      width: calc((92% - 1rem) / 2);
    }
  }

  .col-1-of-4-d {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

    @include respond(l-phone) { 
      display: none;
    }
  }

}

.row-a {
  max-width: $grid-width;
  margin: 0 6.7rem;

  @include respond(big-desktop) { 
    margin: 0 44.7rem;  
  }

  @include respond(big-desktop2) { 
    margin: 0 38.7rem;
  }

  @include respond(desktop) { 
    margin: 0 6.7rem;;  
  }

  @include respond(l-phone) {  
    margin: 0 16.7rem;
  }

  @include respond(m-phone2) { 
    margin: 0 6.7rem;
  }

  @include respond(sx-phone) { 
    margin: 0 3.7rem;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(l-phone) { 
      margin-bottom: 3rem;
    }
  }

  @include clearfix;

  [class^="col-"] {
    //background-color: seagreen;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4-a {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

    @include respond(l-phone) { 
      width: calc((100% - 6rem) / 2);
    }
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal} 
    );
  }
}

