.header{
  height: 70vh;
  background-image: url(../../assets/img/BG-image.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  @include respond(tab-port2) {
    height: 50vh; 
  }

  @include respond(tab-port2) {
    height: 50vh;
  }

  @include respond(tab) {
    height: 48vh;
  }
  
  @include respond(phone2) {
    height: 42vh;
  }

  @include respond(m-phone-m) { 
    height: 44rem;
  }

  @include respond(s-phone2) { 
    height: 38rem;
  }

  @include respond(sx-phone) {
    height: 30vh;
  }

  

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &--news {
      margin-top: 1.2rem;

      &__text {
        display: block;
        width: 100%;
      }

      &__author {
        color: #38556e !important;

        &:hover {
          color: #6295BF !important;
        }
      } 
    }

    &--search {
      top: 20%;
    }
  }

  &__news {
    margin: 1.2rem auto 0 auto;
    position: relative;
    width: 100%;

    @include respond(tab-land) { 
      margin: 9rem auto 0 auto;
    }

    @include respond(tab-port2) { 
      margin: 3rem auto 0 auto;
    }

    @include respond(tab-port) { 
      margin: 5rem auto 0 auto;
    }

    @include respond(tab) { 
      margin: 2rem auto 0 auto;
    }



    &--image {
      border-radius: 4px;
      height: 38rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
      width: 82.4rem;

      @include respond(desktop) { 
        height: 38rem;
        width: 70.4rem;
      }

      @include respond(tab-port) { 
        height: 44rem;
        width: 84.4rem;
      }

      @include respond(tab) { 
        height: 40rem;
        width: 84.4rem;
      }

      @include respond(l-phone) { 
        height: 36rem;
        width: 72.4rem;
      }

      @include respond(phone) { 
        height: 30rem;
        width: 55.4rem;
      }

      @include respond(phone2) { 
        height: 28rem;
        width: 54.4rem;
      }

      @include respond(m-phone-m) { 
        height: 30rem;
      }

      @include respond(m-phone2) {
        height: 29rem; 
        width: 48.4rem;
      }

      @include respond(m-phone4) { 
        height: 28rem;
        width: 44.4rem;
      }

      @include respond(s-phone2) { 
        height: 24rem;
        width: 40.4rem;
      }

      @include respond(sx-phone) { 
        height: 20rem;
        width: 32.4rem; 
      }

      @include respond(sx-phone) { 
        height: 15rem;
        width: 26.4rem; 
      }
    }
  }

}  