.news {
  &__text {
    margin-top: 22rem;

    @include respond(tab) { 
      margin-top: 26rem;
    }

    @include respond(phone) { 
      margin-top: 24rem;
    }

    @include respond(m-phone-m) { 
      margin-top: 18rem;
    }

    @include respond(m-phone2) { 
      margin-top: 14rem;
    }

    @include respond(sx-phone) { 
     margin-top: 11rem;
    }
  }
  

  &__share {
    margin-top: 2rem;

    &__icon {
      height: 3.6rem;
      margin-right: 1.6rem;
    }
  }

  &__publisher {
    margin-top: 4rem;

    &__card {
      @include card;

      @include respond(tab-port2) { 
        padding: 0.8rem;
      }

      @include respond(sx-phone) { 
        padding: 0.5rem;
      }
    }

    &__shape {
      background-color: transparent;
      border-radius: 50%;
      height: 16rem;
      margin-left: 1.6rem;
      width: 16rem;

      @include respond(l-phone) {
        height: 14rem;
        width: 14rem;
      }

      @include respond(phone) {
        margin-left: 0rem;
      }

      @include respond(m-phone2) { 
        height: 10rem;
        width: 10rem;
      }

      @include respond(sx-phone) { 
        height: 7rem;
        width: 7rem;
      }

      &--img {
        object-fit: cover;
      }
    }
  }

  &__line {
    border-bottom: $line;
    margin-top: 2rem;
  }

  &__reply {
    margin-top: 2rem;

    &__text {
      width: 100%;
    }

    &__form {
      border: 1px solid #c6c6c6;
      border-radius: 4px;
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 1.4rem;
      outline: 0;
      padding: 0.5rem;
      width: 100%;

      &--name {
        width: 30%;
      }
    }
  }

  &__comments {
    margin-top: 2rem;

    &__text {
      width: 100%;
    }

    &__box {
      background-color: #F6F6F6;
      border-radius: 4px;
      margin-bottom: 4rem;
      padding: 2rem;
      width: 66%;
    }
  }
}
